html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;

  background: linear-gradient(to bottom right, #444444, #03d1ff);
  font-size: 1.5rem;
}

main {
  color: #fff6d5;
  font-family: sans-serif;
}

.logo {
  height: 20em;
}

.heart:after {
  content: "❤️";

  font-size: 1.75em;
}

h1 + .subtitle {
  display: block;
  margin-top: -1em;
}

.posts-layout {
  width: 1024px;
  margin: 0 auto;
}


.post h2 a {
  color: #fff6d5;
}
